*.egg-info
data
.DS*
.idea
*.ipynb_checkpoints
*/__pycache__
experiment/inlab/exp_background/jspsych-6.3.1
experiment/inlab/exp_target/jspsych-6.3.1
experiment/remote/exp_target/jspsych-6.3.1
experiment/remote/exp_background/jspsych-6.3.1
experiment/remote/exp_target_polarity/jspsych-6.3.1
experiment/remote/exp_target_async/jspsych-6.3.1
experiment/remote/exp_target_polarity/files
experiment/remote/exp_target_async/files
