*.egg-info
data
.DS*
.idea
*/__pycache__
*/jspsych-6.3.1
experiment/inlab/exp_background/jspsych-6.3.1
experiment/inlab/exp_target/jspsych-6.3.1
experiment/remote/exp_target/jspsych-6.3.1
experiment/remote/exp_background/jspsych-6.3.1
